body {
	font: 120%/1.414 "Manu 7", georgia, serif;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;	
	margin: 0 auto;
	padding: 11.1111vh 11.1111vw;
	max-width: 50em;
	scroll-behavior: smooth;
}
body {
	display: grid;
	grid-gap: 5.5555vw;
	grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	grid-row-gap: 11.1111vh;
}

@media (min-width: 66.8em){
	body {
		grid-template-rows: 77.7777vh auto;
	}
}

form {
	max-width: 22em;
	width: 90vw;
	margin: 0 auto;
}
input {
	display: block;
	font-size: 1.414em;
	font-family: inherit;
	width: 4ch;
	border: 1px solid black;
	transition: .2s;
	margin-bottom: .5em;
}
input:focus {
	box-shadow: 0 0 .2em .2em silver;
}
textarea {
	font: inherit;
	font-size: 1em;
	max-width: 20em;
	text-decoration: underline;
	text-decoration: underline double limegreen;
	width: 100%;
}
legend {
	background: white;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	max-width: 22em;
	margin: 0 auto;
}
td,
th {
	width: 2em;
	height: 2em;
	text-align: center;
	border-right: 1px solid transparent;
	border-bottom: 1px solid black;
	transition: .2s;
}
th {
	font-family: "Manu 8", Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
}
thead th {
	border-bottom: 3px double black;
	opacity: .3;
}
.typing thead th {
	opacity: 1;
	background: yellow;
	border-right: 1px solid black;
}
tbody th {
	border-right: 1px solid black;
	background: yellow;
}
.typing td,
.typing tbody th {
	opacity: .1;
	border-bottom-color: white;
	border-right: 1px solid black;
	background: white;
}
tbody .thisone th {
	opacity: 1;
	background: yellow;
	border-bottom-color: black;
}
.thisone td {
	opacity: 1;
	border-bottom-color: black;
}
thead th:first-child {
	border-right: 1px solid black;
	opacity: 1;
}
.thisone ~ tr td,
.thisone ~ tr th {
	border-color: transparent !important;
}

thead th:first-child::before {
	content: '⬇';
}
.typing thead th:first-child::before {
	content: '➡';
}

/* Settings */ 
body > [for="keys"] {
	border-top: 1px solid;
	border-bottom: 1px solid;
	text-decoration: none;
	position: absolute;
	right: 11.1111vmin;
	top: 5.5555vmin;
	line-height: .7;
}
[maxlength="6"] {
	width: 6em;
}
button {
	font: inherit;
}
#settings fieldset:focus-within {
	box-shadow: 0 0 .2em .2em yellow;
}